$button-bg: #fff;
$button-color: #000;
$swiper-navigation-size: 6.4rem;

swiper-container {
    &::part(button-prev), .swiper-button-next,
    &::part(button-next), .swiper-button-prev {
        width: $swiper-navigation-size;
        height: $swiper-navigation-size; 
        background-color: $button-bg;  
        border-radius: 50%; 
        color: $button-color;
        top: 35%;
    }

    &::part(button-prev) {
        left: 5%;
    } 
    &::part(button-next) {
        right: 5%; 
    } 
}

.bestseller-products {
    
     .swiper-hidden {
        position: relative;
        padding-left: 1.6rem; 
     }

     .swiper-button-next,
     .swiper-button-prev {
        width: $swiper-navigation-size;
        height: $swiper-navigation-size; 
        background-color: $button-bg;  
        border-radius: 50%; 
        color: $button-color;
        box-shadow: none;
        border: none;
        top: 42%; 
        position: absolute;
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity .2s ease;
        svg{
            width: 1.2rem;  
          }
          &.swiper-button-prev {
            svg {
              path {
                transform-origin: center center;
                transform: rotate(180deg); 
                }
              }
            } 
            &:hover {
                opacity: 0.88; 
            }
          
    }
    
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        left: auto;
        right: 5%;
    }
    
    
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        right: auto;
        left: 5%; 
    }
}


 
  


